<?xml version="1.0"?>
<configuration>

  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>

  <system.serviceModel>

    <services>
      <service name="CalleeLib.Service">
        <endpoint address="" behaviorConfiguration="webHttpBehavior"
          binding="customBinding" bindingConfiguration="jsonpBinding"
          contract="CalleeLib.IScanService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2996/Service.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <bindingElementExtensions>
        <add name="jsonpMessageEncoding"
             type="CalleeLib.JsonpBindingExtension, CalleeLib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>

    <bindings>
      <customBinding>
        <binding name="jsonpBinding" >
          <jsonpMessageEncoding />
          <httpTransport manualAddressing="true"/>
        </binding>
      </customBinding>
    </bindings>
    
  </system.serviceModel>


  <!--<system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingJsonP" crossDomainScriptAccessEnabled="true"/>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="WcfService.Service" behaviorConfiguration="httpGetEnabled">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:2996/Service.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" behaviorConfiguration="WcfService.ServiceAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingJsonP" contract="WcfService.Service"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WcfService.ServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="httpGetEnabled">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>-->
</configuration>
